 
 
 <form method="POST" action="/register">
     <div>
          <label>Email: </label>
          <input style="margin-top: 1em;" type="email" name="email" placeholder="your email..."> 
     </div> 
     <div style="margin-top: 1em;">
      <label>Password:</label>
      <input type="password" name="password" placeholder="password..."/>
     </div>
     <div style="margin-top: 1em;">
      <button style="background-color: skyblue;" >Submit</button>
     </div>
 </form> 


    
     

     